<span class="user-password"
  data-show-password="<%= t "show_password", scope: "decidim.devise.shared.password_fields" %>"
  data-hide-password="<%= t "hide_password", scope: "decidim.devise.shared.password_fields" %>"
  data-hidden-password="<%= t "hidden_password", scope: "decidim.devise.shared.password_fields" %>"
  data-shown-password="<%= t "shown_password", scope: "decidim.devise.shared.password_fields" %>">
  <%= form.password_field :password, value: form.object.password, autocomplete: "off", help_text: t("devise.passwords.edit.password_help", minimun_characters: ::PasswordValidator::MINIMUM_LENGTH) %>
</span>

<span class="user-password-confirmation">
  <%= form.password_field :password_confirmation, value: form.object.password_confirmation, autocomplete: "off" %>
</span>
